@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.spacer {
    flex-grow: 1;
}


.medium-list {
    margin: auto;
    width: 600px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
  }
  
  .list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
 
  .divider {
    margin-top: 10px !important; 
  }
  .footer{
    left: 0; bottom: 0; width: 100%;  background-color:rgb(212, 212, 212);
      color:rgb(0, 0, 0); text-align: center; height:60px;
      position: fixed
  }
  .menu-spacer {
    flex: 1 1 auto;
  }
  .fa{
    padding: 0.5em;
  }
  .copyright
  {
    padding-bottom: 0%
  }
  .herounit-mask
  {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-decoration-style: none;
  }
  a{
    text-decoration:none;
    color: white;
  }
  i{
    display: flex;
    background: #e7e0ea;
    height: 33px;
    width: 33px;
    margin: 0 10px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding-top: 0%;
    text-decoration: none;
    box-shadow: 6px 6px 10 px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255,255,255,0.7);
    font-size: 20px;
    color: #777;
    transition: transform 0.5s;
  }
  i:hover{
    box-shadow:inset 4px 4px 6 px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.1);
    transform: translateY(2px);
  }
 /*  a:hover{
    text-decoration: none;
    color: white;
  }
  a:hover .fa-facebook
  {
   
    color: #3b5998;
  }
  a:hover .fa-twitter
  {
    color: #00acee;
  }
  a:hover .fa-youtube
  {
    color: #f00;
  }
  a:hover .fa-skype
  {
    color: #00acee;
  }
  a:hover .fa-linkedin
  {
    color: #0e76a8;
  }
  
 */
 .fa {
  padding: 20px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}