<div class="middle">
    <img src="./assets/aa.jpg" alt="">
    <a class="non">WeLcOMe tO BooK apP</a>
  </div>
<!-- <div class="footer">
    <div class="copyright">All Copyrights © reserved with MyBook House</div>
    <section class="herounit-mask">
      <a href="https://www.facebook.com/">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com/">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.skype.com/">
        <i class="fab fa-skype"></i>
      </a>
      <a href="https://www.linkedin.com/">
        <i class="fab fa-linkedin"></i>
      </a>
    </section>
</div>
   -->